@use 'globals' as *;

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

li {
    list-style-type: none;
}
#root {
    background-color: $neutral-color;
    width: 100%;
    max-width: 675px;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 7vw;
    box-sizing: border-box;

}

input {
    all: unset;

    @extend .outline;

    font-weight: bold;
    font-size: 1em;

    padding: {
        left: 1em;
        right: 1em;
        top: 0.2em;
        bottom: 0.2em;
    }

    box-sizing: border-box;
}

button {
    all: unset;

    text-align: center;
}
.icon {
    max-width: 30px;
}
