/*variable declarations*/

$neutral-color: white;
$bland-color: #ffe7cf;
$dark-color: #756b5e;

$primary-color: #ff8873;
$secondary-color: #9cc5cd;

$round-value: 1em;



@mixin shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.text {
    font: {
      family: "Monaco", monospace;
      size: 1em;
      style: italic;
    }
}

.round {
    border-radius: $round-value;
}

.outline {
    border: 2px solid;
    @extend .round;
    color: $dark-color;
    border-color: $dark-color;
}

.outline:hover {
    border-color: $secondary-color;
}

.outline:focus {
    border-color: $primary-color;
}

.bg-neutral {
    background-color: $neutral-color;
}

.bg-bland {
    background-color: $bland-color;
}

.bg-dark {
    background-color: $dark-color;
}

.bg-primary {
    background-color: $primary-color;
}

.bg-secondary {
    background-color: $secondary-color;
}

.neutral {
    color: $neutral-color;
}

.bland {
    color: $bland-color;
}

.dark {
    color: $dark-color;
}

.primary {
    color: $primary-color;
}

.secondary {
    color: $secondary-color;
}

.hidden {
    display: none;
}
